/* sticky columns (https://github.com/jgthms/bulma/issues/1351) */
.is-sticky {
  max-height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  display: inline-block;
  vertical-align: top;
}

/* block quote notifications */
.content blockquote.notification.is-danger {
  border-left-color: rgb(241 70 70);
  background-color: rgb(255 215 215);
  color: rgb(74 74 74);
}

.content blockquote.notification.is-danger::before {
  content: '\f0e7';
  color: rgb(241 70 70);
}

.content blockquote.notification.is-info {
  border-left-color: rgb(62 142 208);
  background-color: rgb(203 231 255);
  color: rgb(74 74 74);
}

.content blockquote.notification.is-info::before {
  content: '\f05a';
  color: rgb(62 142 208);
}

.content blockquote.notification.is-warning {
  border-left-color: rgb(240 197 78);
  background-color: rgb(254 245 216);
  color: rgb(74 74 74);
}

.content blockquote.notification.is-warning::before {
  content: '\f071';
  color:rgb(240 197 78);
}

.content blockquote.notification.is-danger::before,
.content blockquote.notification.is-info::before,
.content blockquote.notification.is-warning::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 2em;
  margin-right: 6px;
  float: left;
}

a.sidebar-pagelinks {
  color: rgb(146 178 207);
}

div.menu p.menu-label {
  color: rgb(114 51 51);
}