<footer class="footer">

  <div class="content has-text-centered">

    <p class="has-text-grey m-0">
      <strong>{{ site.title }}</strong>, {{ site.description}}, by {{ site.author | escape }}.
      The website content is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>

    <p class="has-text-grey-light is-size-7">
      This page is open source. Noticed a typo? Or something unclear?
      <a class="has-text-grey is-underlined" href="{{ site.github.url }}/{{ site.github.path }}/{{ page.path }}">
        Improve this page on GitHub
      </a>
    </p>

  </div>

</footer>