<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="py-3">

    <div class="container">

      <div class="columns">

        <aside class="column is-2 menu is-sticky" style="border-right: 1px solid rgb(222 222 222);">
          {%- include sidebar-left.html -%}
        </aside>

        <div class="column">
          <p class="title">
            {{ page.title }}
          </p>
          {% if page.subtitle %}
          <p class="subtitle">
            {{ page.subtitle }}
          </p>
          {% endif %}

          {{ content }}
        </div>

        <aside class="column is-2" style="border-left: 1px solid rgb(222 222 222);">
          {%- include sidebar-right.html -%}
        </aside>

      </div>
    </div>
  </main>

  {%- include footer.html -%}

  <script src="/lightastic.js"></script>
</body>

</html>