<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main>

    <section class="section">
      <div class="container">

        <p class="title">
          {{ page.title }}
        </p>
        {% if page.subtitle %}
        <p class="subtitle">
          {{ page.subtitle }}
        </p>
        {% endif %}

        {{ content }}
      </div>
    </section>
  </main>

  {%- include footer.html -%}

  <script src="/lightastic.js"></script>
</body>

</html>