<!DOCTYPE html>
<html {% if site.fixed_navbar %}class="has-navbar-fixed-{{ site.fixed_navbar }}"{% endif %}
  lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="py-3">

    <div class="container">

      <div class="columns">

        <aside class="column is-2 menu is-sticky" style="border-right: 1px solid rgb(222 222 222);">
          {%- include sidebar-left.html -%}
        </aside>

        <div class="column">
          <p class="title">
            {{ page.title }}
          </p>
          {% if page.subtitle %}
          <p class="subtitle">
            {{ page.subtitle }}
          </p>
          {% endif %}

          {{ content }}

          <nav class="pagination">
            <a class="pagination-previous ml-6">Previous</a>
            <a class="pagination-next mr-6">Next page</a>
          </nav>

        </div>

        <aside class="column is-2" style="border-left: 1px solid rgb(222 222 222);">
          {%- include sidebar-right.html -%}
        </aside>

      </div>
    </div>

  </main>

  {%- include footer.html -%}

  <script src="/lightastic.js"></script>
</body>

</html>